@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TARAYICIYA ZORUNLU KARANLIK MOD */
:root {
  color-scheme: dark;
}

body, html {
  background-color: #0f172a; /* Çok Koyu Lacivert */
  color: #e2e8f0; /* Açık Gri Yazı */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent; /* Mobilde tıklama mavisini kaldır */
}

#root {
  min-height: 100vh;
  background-color: #0f172a;
}

/* KAYDIRMA ÇUBUĞU */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

/* ANİMASYONLAR */
.page-enter { animation: slideUpFade 0.4s ease-out; }
@keyframes slideUpFade { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }

.toast-enter { animation: toastSlideIn 0.3s ease-out; }
@keyframes toastSlideIn { from { opacity: 0; transform: translateX(100%); } to { opacity: 1; transform: translateX(0); } }

/* INPUT İKONLARI */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.7;
}